body, html {
    height: 100%;
}

body, article{
    background-color: #ffeedd;
    color: #123456
}

/**
* Some themes use box-shadow to add underline
*/
a{
    text-decoration: none;
    box-shadow: none;
}

.navArrow{
	  color: navy;
	  font-size: 1.5rem;
	  font-weight: bold;
}

.nobreak{
    white-space: nowrap;
}

.nooverflow{
    overflow: hidden;
    text-overflow: ellipsis;
}

#indexContainer{
  width: 100%;
  height: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0 5rem 5rem 5rem;
}
#indexSection {
    width: 75%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    border: 0.5rem solid #eeddcc;
    padding: 0 3rem 3rem 3rem;
}
#sectionContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: top;
/**    border: 0.25rem solid #ddccbb; */
}
#centerSection {
    width: 75%;
    height: 100%;
    float: left;
    vertical-align: top;
    display: inline-block;
    border: 0.5rem solid #eeddcc;
    padding: 3rem;
}
#sideSection {
    width: 25%;
    height: 100%;
    float: left; /** Or overflow: hidden */
    vertical-align: top;
    display: inline-block;
    border: 0.5rem solid #eeddcc;
    padding: 1rem;
}

/* The hero image */
.heroImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img1.wsimg.com/isteam/stock/VJdp5Gd/:/rs=w:1360,h:580,cg:true,m/cr=w:1360,h:580,a:cc");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
